REPOSITORY_TYPE=in-memory
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/todo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todo_db
REDIS_HOST=localhost
REDIS_PORT=6379
